<p>
  <b>Role:</b>
  <%=h @credit.role %>
</p>

<p>
  <b>Location:</b>
  <%=h @credit.location %>
</p>

<p>
  <b>Note:</b>
  <%=h @credit.note %>
</p>

<p>
  <b>Project:</b>
  <%=h @credit.project %>
</p>

<p>
  <b>User:</b>
  <%=h @credit.user %>
</p>


<%= link_to 'Edit', edit_user_credit_path %> |
<%= link_to 'Back', user_credits_path %>